<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="eob" class= "in.practice.ajinkya.employee.Employee">
		<property name="eid" value="100"/>
		<property name="ename" value="Ajinkya"/>
		<property name="loc" value="HYD"/>
	</bean>
</beans>